:host {
  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 0;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}
